$moderate-violet: hsl(263, 55%, 52%);
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$very-dark-blackish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    padding: 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: $light-grayish-blue;
}

main {
    max-width: 80rem;
}

.card {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-author {
    display: flex;

    img {
        width: 2rem;
        height: 2rem;
    }
}

.card-daniel {
    background-color: $moderate-violet;
    color: $white;
    grid-area: card-a;
}

.card-jonathan {
    background-color: $very-dark-grayish-blue;
    color: $white;
    grid-area: card-b;
}

.card-jeanette {
    background-color: $white;
    color: $very-dark-blackish-blue;
    grid-area: card-c;
}

.card-patrick {
    background-color: $very-dark-blackish-blue;
    color: $white;
    grid-area: card-d
}

.card-kira {
    background-color: $white;
    color: $very-dark-blackish-blue;
    grid-area: card-e;
}

@media (min-width: 1200px) {
    main {
        display: grid;
        grid-template-areas: 
            "card-a card-a card-b card-e"
            "card-c card-d card-d card-e";
        gap: 1.5rem;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    main {
        max-width: 40rem;
        display: grid;
        grid-template-areas: 
            "card-a card-a"
            "card-b card-c"
            "card-d card-d"
            "card-e card-e";
        gap: 1.5rem;
    }
}
@media (max-width: 767px) {
    main {
        max-width: 40rem;
        display: grid;
        grid-template-areas: 
            "card-a"
            "card-a"
            "card-b"
            "card-c"
            "card-d"
            "card-d"
            "card-e"
            "card-e";
        gap: 1.5rem;
    }
}